[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyter = "*"
numpy = "*"
gdal = "==3.0.4"
geopandas = "*"

[requires]
python_version = "3.8"
